/* body {
    background-color: purple;
}
li {
    background-color: yellowgreen;
}
li:nth-of-type(2n){
    background-color: olive;
}
li:nth-of-type(2n):hover {
    background-color: orangered;
} */
 /* h2 {
    color: greenyellow;
    background-color: lavender;
 } */
  body {
    /* background-color: rgb(223,117,17) */
    background-color: #28ffeb;
  }
  h1 {
    /* background-color: rgba(red, green, blue, 0.5) */
background-color: hsl(0,50%,80%);
text-align: center;
font-weight: 900;
letter-spacing: 20px;
font-size: 10vw;
}

p{
  line-height: 2;
  word-spacing: 20px;
  text-indent: 50px;
}