body {
    font-size: 10px;
    background: linear-gradient(-45deg, cyan, 80%, purple); 

}
html {
    font-size: 1vw;
    font-family: Monaco;
}
h1 {
    font-size: 6rem;
    font-family: Nosifer;
    color: rgb(199, 14, 199);
}
h2 {
    font-size: 3rem;
    /* text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy; */
    /* text-decoration-thickness: 2px; 
    not supported in Chrome*/
    text-decoration: purple overline wavy;
}
section {
    font-size: 0.5rem;
    font-family: "Brush Script MT";
}
h3 {
   font-size: 5rem;
   text-transform: capitalize; 
   /* text-shadow: offsetx offsety blur-radius color;  */
   font-weight: 400;
   /* text-shadow: -20px -20px 5px magenta; */
    color: red;
    /* text-shadow: 5px 5px rgb(24, 235, 235), 2px 2px hsl(60, 100%, 100%, 0.5); */

}